params {
  // initialise default parameters 
  // otherwise nextflow complains

  bed = false
  bim = false
  fam = false
  vcf = false
  results = "$baseDir/results/"
  
  convertBuild = false
  qc = false
  popStrat = false
  impute = false
  postImpute = false
  gwas = false
  help = false
  download_db = false

  // qc & popstrat
  popstrat = false // check not --popStrat
  sexcheck = true
  keep_sex_chroms = true
  mind = 0.02
  indep_pairwise = "50 5 0.2"
  variant_geno = 0.02
  pihat = 0.125
  hwe = 1e-7
  maf = 0.05
  missingness = 10e-7
  racefile = "super" // or "sub"
  racecode = " "
  parfile = false 
  pca_covars = 3 // 1-20 range

  //gwas
  covar_file = false
  
  //imputation
  impute_chroms = 1 //impute5 eats memory

  // postimputation
  info = 0.7
  impute_maf = 0.01
}

cache = 'deep'

profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
    includeConfig 'conf/docker.config'
  }
}

manifest {
  author = 'Benjamin Wingfield'
  description = 'Nextflow pipeline for running the snpQT pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10.0'
  version = '0.1.0'
}
