params {
  // initialise default parameters 
  // otherwise nextflow complains
  bed = false
  bim = false
  fam = false
  vcf = false
  results = "$baseDir/results/"
  
  convertBuild = false
  qc = false
  popStrat = false
  impute = false
  postImpute = false
  gwas = false
  help = false
  download_db = false

  // qc & popstrat 
  mind = 0.02
  indep_pairwise = "50 5 0.2"
  variant_geno = 0.02
  pihat = 0.125
  hwe = 1e-7
  maf = 0.05
  missingness = 10e-7
  racefile = "super" // or "sub" 

  // postimputation
  info = 0.7
}

cache = 'deep'

profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
    includeConfig 'conf/docker.config'
  }
}

manifest {
  author = 'Benjamin Wingfield'
  description = 'Nextflow pipeline for running the snpQT pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}
