params {
  // initialise default parameters 
  // otherwise nextflow complains
  params.bed = false
  params.bim = false
  params.fam = false
  params.vcf = false
  
  params.convertBuild = false
  params.qc = false
  params.popStrat = false
  params.impute = false
  params.postImpute = false
  params.gwas = false
  params.help = false
}


profiles {
  conda {
     if ( params.medaka || params.nanopolish ) {
       process.conda = "$baseDir/environments/nanopore/environment.yml"

     } else if (params.illumina) {
       process.conda = "$baseDir/environments/illumina/environment.yml"
     }
     includeConfig 'conf/conda.config'
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
    includeConfig 'conf/docker.config'
  }
}

manifest {
  author = 'Benjamin Wingfield'
  description = 'Nextflow pipeline for running the snpQT pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}
