process {
    executor = 'slurm'
    // default queue for short jobs less than 3 hours
    queue = 'k2-hipri'
    cpus = params.cores
    
    withLabel: small {
        cpus = 1
	memory = 2.GB
    }
    
    withLabel: medium {
        cpus = 1
	memory = 10.GB
    }

    withLabel: bigmem {
        memory = 128.GB
	errorStrategy = 'retry'
	maxRetries = 2
	queue = { task.attempt == 1 ? 'k2-hipri' : 'k2-medpri' } 
    }
}
