process {
  if ( params.impute || params.postImpute ) {
    println("No conda support for imputation :( try -profile docker")
    println("Full documentation available at: https://snpqt.readthedocs.org")
    System.exit(1)
  }
  conda = "$baseDir/environments/snpqt/environment.yml"
  withName: run_snpflip {
    conda = "$baseDir/environments/snpflip/environment.yml"
  }
  withName: 'pca_prep|eigensoft' {
    conda = "bioconda::eigensoft=7.2.1"
  }
}
