conda {
  createTimeout = '10 m'
}

process {
  if ( params.impute ) {
    println("No conda support for imputation :( try -profile docker or -profile modules")
    println("Full documentation available at: https://snpqt.readthedocs.org")
    System.exit(1)
  }

  conda = "$baseDir/environments/snpqt/environment.yml"

  withLabel: 'snpflip' {
    conda = "$baseDir/environments/snpflip/environment.yml"
  }

  withLabel: 'eigensoft' {
    conda = "bioconda::eigensoft=7.2.1 bioconda::plink=1.90b6.18"
  }
  
  withLabel: 'plink' {
    conda = "bioconda::plink=1.90b6.18 bioconda::plink2=2.00a2.3"
  }
    
  withLabel: 'bcftools' {
    conda = "bioconda::bcftools=1.9"
  }
  
  withLabel: 'picard' {
    conda = "bioconda::picard=2.24.0"
  }
  
   withLabel: 'tabix' {
    conda = "bioconda::tabix=0.2.6"
  }
  
   withLabel: 'samtools' {
    conda = "bioconda::samtools=1.11"
  }

   withLabel: 'plink2_bcftools' {
    conda = "bioconda::plink2=2.00a2.3 bioconda::bcftools=1.9"
  }

 
}
