docker {
    enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
}

process {
    // default container for all processes
    container = "nebfold/rpackages@sha256:258c709e4ab5e3ae646e8fafb1bc0dd400f5c455e864c5eef17d97251dd06706"
    // custom containers 
	
    // containers used across multiple workflows
    withLabel: 'plink1' {
        container = "quay.io/biocontainers/plink:1.90b6.21--h779adbc_1"
    }	
    withLabel: 'plink2' {
        container = "quay.io/biocontainers/plink2:2.00a2.3--h712d239_1"
    }

	
    // build conversion
    withLabel: 'picard' {
        container = "quay.io/biocontainers/picard-slim:2.24.0--0"
    }

    // popStrat
    withLabel: 'snpflip' {
	container = "nebfold/snpflip"
    }
    withLabel: 'eigensoft' {
	container = "quay.io/biocontainers/eigensoft:7.2.1--h1d3628b_2"
    }
	
    // imputation
    withLabel: 'shapeit' {
	container = "quay.io/biocontainers/shapeit4:4.1.3--h0c37f25_1"
    }
    withLabel: 'bcftools' {
	container = "quay.io/biocontainers/bcftools:1.9--h68d8f2e_9"
    }
    withLabel: 'tabix' {
        container = "quay.io/biocontainers/tabix:0.2.6--ha92aebf_0"
    }
	
    // this container requires the user to build the dockerfile
    withLabel: 'impute5' {
	container = "impute5"
    }

    // download_db
    withLabel: 'samtools' {
        container = "quay.io/biocontainers/samtools:1.11--h6270b1f_0"
    }
}
