docker {
    enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
}

process {
  // default container for all processes
  container = "docker://nebfold/snpqt"
  // custom containers 
  // build conversion
  withName: 'dictionary|liftover' {
      container = "docker://quay.io/biocontainers/picard-slim:2.24.0--0"
  }
  // popStrat
  withName: run_snpflip {
      container = "docker://nebfold/snpflip"
  }
  withName: 'prep_pca|eigensoft' {
      container = "docker://quay.io/biocontainers/eigensoft:7.2.1--h1d3628b_2"
  }
  // imputation
  withName: phasing {
      container = "docker://quay.io/biocontainers/shapeit4:4.1.3--h0c37f25_1"
  }
  // these require the user to build the dockerfile
  withName: 'convert_imp5|impute5' {
      container = "impute5"
  }
}
