process {
  if ( params.impute ) {
    println("No conda support for imputation :( try -profile docker")
    println("Full documentation available at: https://snpqt.readthedocs.org")
    System.exit(1)
  }
  conda = "$baseDir/environments/snpqt/environment.yml"
  withName: run_snpflip {
    conda = "$baseDir/environments/snpflip/environment.yml"
  }
  withName: 'pca_prep|eigensoft' {
    conda = "bioconda::eigensoft=7.2.1 bioconda::plink=1.90b6.18"
  }
  // imputation with environment modules
  // http://modules.sourceforge.net
  // https://www.nextflow.io/docs/latest/process.html#module
  // module names won't be consistent across systems :( 
  withName: phasing {
    module = 'shapeit4/4.1.3'
  }
  withName: 'convert_imp5|impute5' {
    module = 'impute5'/5.1.1'
  }
}
