process {
  // modules need conda too 
  conda = "$baseDir/environments/snpqt/environment.yml"  
  withName: run_snpflip {
    conda = "$baseDir/environments/snpflip/environment.yml"
  }
  withName: 'pca_prep|eigensoft' {
    conda = "bioconda::eigensoft=7.2.1 bioconda::plink=1.90b6.18"
  }
  withName: phasing {
    conda = 'bioconda::shapeit4=4.1.3'    
  }
  
  // imputation with environment modules
  // http://modules.sourceforge.net
  // https://www.nextflow.io/docs/latest/process.html#module
  // module names won't be consistent across systems :( 
  withName: 'convert_imp5|impute5' {
    module = 'impute/5_1.1.4'
  }
}
