process {
    executor = 'local'
    
    // assume maximum 
    cpus = params.cores
    
    withLabel: small {
        cpus = 1
	memory = 2.GB
    }

    // maxForks assumes that local executors are memory constrained
    withLabel: bigmem {
        memory = 128.GB
        maxForks = params.impute_chroms
    }
}